
  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;0,700;0,800;1,500;1,600;1,700;1,800&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    /* background-color: url(bgimage.jpg); */
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'EB Garamond', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.side-bar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #7FFFD4;
    transition: all 0.5s ease;
}
.side-bar header{
    font-size: 25px;
    line-height: 70px;
    color: white;
    text-align: center;
    background:#5FBF9F;
    user-select: none;
    /* transition: 0.5s all ease; */
}
.side-bar ul a{
    color: white;
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 60px;
    border-top: 1px solid whitesmoke;
    border: 1px solid rgba(255, 255, 255,0.8);
    padding-left: 40px;
    transition: 0.4s;
}
ul li:hover a{
    padding-left: 50px;
}
.side-bar ul a .material-symbols-outlined{
    margin-right: 10px;
}

#check{
    display: none;
}
label #btn,label #close{
    position: absolute;
    cursor: pointer;
    background-color: #f0e9e9;
    border-radius: 5px;
}
label #btn{
    font-size: 35px;
    left: 40px;
    top: 25px;
    color: aqua;
    padding: 6px 12px;
    transition: all 0.5s;
}
label #close{
    background-color: #5FBF9F;
    z-index: 1111;
    top: 17px;
    left: -190px;
    color: white;
    font-size: 35px;
    padding: 4px 9px;
    transition: all 0.5s;

}
#check:checked ~ .side-bar{
    left: 0;
}
#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #close{
       left: 190px;
}

#check:checked ~ label section{
    margin-left: 250px;
}
section{
    background: url(bgimage.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all 0.5s;

}



h1 {
    padding: 250px;
    color: #f3ebee;
    font-size: 4rem;
    font-family: 'Anton', sans-serif;

    text-align: center;
}

.type-text {
    position: relative;
}

.type-text::after {
    content: '';
    display: block;
    position: absolute;
    right: -5px;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: #ff014f;
    animation: type .5s infinite;
    -webkit-animation: type .5s infinite;
}

@-webkit-keyframes type {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 0;
    }
}

@keyframes type {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 0;
    }
}